name: Upload Python Package

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  pypi-publish:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v4

      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Setup pdm
        uses: pdm-project/setup-pdm@v3
        with:
          python-version: "3.9"

      - name: Build package
        run: pdm build
      
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1